#!/usr/bin/env bash

set -eufo pipefail

PREFERENCES_PATH="${XDG_CONFIG_HOME}/iterm2"

if ! defaults read com.googlecode.iterm2.plist PrefsCustomFolder | grep -q $PREFERENCES_PATH ; then
    # Specify the preferences directory
    defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string $PREFERENCES_PATH
    # Tell iTerm2 to use the custom preferences in the directory
    defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
    # Tell iterm2 to save custom preferences automatically
    defaults write com.googlecode.iterm2.plist NoSyncNeverRemindPrefsChangesLostForFile_selection -int 2

    echo "iTerm2 preferences are now loaded from $PREFERENCES_PATH and saved automatically"
fi
