[".local/share/zsh/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/share/zsh/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/jeromegamez/kickstart.nvim"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{- if eq .chezmoi.os "darwin" }}
[".local/share/google-cloud-sdk"]
    type = "archive"
    {{ if eq .chezmoi.arch "arm64" -}}
        url = "https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-464.0.0-darwin-arm.tar.gz"
    {{ else }}
        url = "https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-464.0.0-darwin-x86_64.tar.gz"
    {{- end -}}
    exact = false
    stripComponents = 1
{{- end }}

[".config/claude/commands"]
    type = "archive"
    url = "https://github.com/brennercruvinel/CCPlugins/archive/main.tar.gz"
    exact = false
    stripComponents = 2
    include = ["*/commands/*"]
    refreshPeriod = "168h"
