{{- $profile := promptChoiceOnce
    . "profile"
    "Select this machine's profile"
    (list "personal" "work")
-}}
{{- $work := eq $profile "work" -}}
{{- $personal := eq $profile "personal" -}}

{{- $name := "Jérôme Gamez" -}}
{{- $email := promptStringOnce . "email" "Git commit email" -}}

[data]
    profile = {{ $profile | quote }}
    work = {{ $work }}
    personal = {{ $personal }}
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    onepasswordAccount = "UM5PFDCXWRDOXA2MBGNTMSFJ24"
{{- if eq .chezmoi.os "darwin" }}
    homebrewPrefix = "/opt/homebrew"
{{- end }}

[data.credentials]
    githubToken = {{ onepasswordRead "op://private/GitHub/Personal Access Tokens/Avoid Rate Limits" .onepasswordAccount | trim | quote }}
    githubComposerToken = {{ onepasswordRead "op://private/GitHub/Personal Access Tokens/Composer" .onepasswordAccount | trim | quote }}
    gitlabToken = {{ onepasswordRead "op://private/Gitlab read_api token/credential" .onepasswordAccount | trim | quote }}

[data.git]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    signingKey = "4E902530D3BC24D1"

[data.versions]
    phpVersions = ["8.4", "8.5"]

[data.macos]
    timezone = "Europe/Berlin"
