default_context:
    full_name: {{ .identity.name | quote }}
    email: {{ .git.email | quote }}
    github_username: {{ .identity.githubUsername | quote }}
abbreviations:
    php: https://github.com/{{ .identity.githubUsername }}/cookiecutter-php
