if type "assume" > /dev/null; then
  alias assume=". assume"
fi

# Navigate up directories with dots
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
