# Core PATH setup
typeset -U path  # Remove duplicates automatically

# Essential paths (needed early)
[[ -d "${HOME}/.local/bin" ]] && path=("${HOME}/.local/bin" $path)
{{ if eq .chezmoi.os "darwin" -}}
path=("{{ .homebrewPrefix }}/opt/make/libexec/gnubin" $path)
{{ end }}

{{ if eq .chezmoi.os "darwin" -}}
# Homebrew
fpath+=("{{ .homebrewPrefix }}/share/zsh/site-functions")
eval "$({{ .homebrewPrefix }}/bin/brew shellenv)"

if [[ -f ${HOME}/.orbstack/shell/init.zsh ]]; then
    source ${HOME}/.orbstack/shell/init.zsh
fi

# 1Password SSH Agent
export SSH_AUTH_SOCK="${HOME}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end }}

# Tool-specific paths
[[ -d "${XDG_CONFIG_HOME}/composer/vendor/bin" ]] && path+=("${XDG_CONFIG_HOME}/composer/vendor/bin")
[[ -f "$HOME/.cargo/env" ]] && source "$HOME/.cargo/env"

export GNUPGHOME=${XDG_CONFIG_HOME}/gnupg

# See https://stackoverflow.com/a/52230415/284325
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

export TENV_GITHUB_TOKEN={{ .credentials.githubToken | quote }}

export CARGO_HOME="$XDG_DATA_HOME"/cargo
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle
export NODE_REPL_HISTORY="$XDG_STATE_HOME"/node_repl_history
export NPM_CONFIG_CACHE="$XDG_CACHE_HOME"/npm
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME"/npm/npmrc
export NPM_CONFIG_TMP="$XDG_RUNTIME_DIR"/npm
export PHP_HISTFILE="$XDG_STATE_HOME"/php/history
export RUSTUP_HOME="$XDG_DATA_HOME"/rustup
