autoload -Uz compinit
compinit

export LESSHISTFILE="$XDG_STATE_HOME"/less/history
export ZSH="${XDG_DATA_HOME}/oh-my-zsh"
export _Z_DATA="${XDG_STATE_HOME}/zsh/z"

plugins=(git z)

source $ZSH/oh-my-zsh.sh

unset PAGER

export SHELL_SESSIONS_DISABLE=1

export HISTFILE="$XDG_STATE_HOME"/zsh/history
export HISTFILESIZE=1000000000
export HISTSIZE=1000000001 # set HISTSIZE > SAVEHIST

setopt EXTENDED_HISTORY         # include timestamp
setopt HIST_BEEP                # beep if attempting to access a history entry which isn’t there
setopt HIST_EXPIRE_DUPS_FIRST   # trim dupes first if history is full
setopt HIST_FIND_NO_DUPS        # do not display previously found command
setopt HIST_IGNORE_ALL_DUPS     # remove previously found command when entering it again
setopt HIST_IGNORE_DUPS         # do not save duplicate of prior command
setopt HIST_IGNORE_SPACE        # do not save if line starts with space
setopt HIST_NO_STORE            # do not save history commands
setopt HIST_REDUCE_BLANKS       # strip superfluous blanks
setopt HIST_SAVE_NO_DUPS      # omit older duplicates of newer commands
setopt HIST_VERIFY              # expand command line without executing it
setopt INC_APPEND_HISTORY       # don’t wait for shell to exit to save history lines

# setopt HIST_ALLOW_CLOBBER       # related to shell clobber setting
# setopt HIST_IGNORE_ALL_DUPS     # remove old event if new one is a duplicate
# setopt HIST_LEX_WORDS           # related to how white space is saved
# setopt HIST_NO_FUNCTIONS        # do not save function commands
# setopt HIST_SUBST_PATTERN       # use pattern matching for substitutions


export GPG_TTY=$(tty)

if [ -f "$HOME/.cargo/env" ]; then
    source "$HOME/.cargo/env"
fi

if type "assume" > /dev/null; then
  alias assume=". assume"
fi

source "${XDG_CONFIG_HOME}/tenv/completion.zsh"

source "${XDG_CONFIG_HOME}/zsh/.plugins.zsh.inc"

export STARSHIP_CONFIG="${XDG_CONFIG_HOME}/starship/starship.toml"
eval "$(starship init zsh)"
