<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>version</key>
    <integer>19</integer>
    <key>application</key>
    <dict>
      <key>adminAccess</key>
      <true/>
      <key>debug</key>
      <false/>
      <key>pathManagementStrategy</key>
      <string>manual</string>
      <key>telemetry</key>
      <dict>
        <key>disabled</key>
        <false/>
      </dict>
      <key>updater</key>
      <dict>
        <key>enabled</key>
        <true/>
      </dict>
      <key>autoStart</key>
      <false/>
      <key>startInBackground</key>
      <false/>
      <key>hideNotificationIcon</key>
      <false/>
      <key>window</key>
      <dict>
        <key>quitOnClose</key>
        <false/>
      </dict>
      <key>locale</key>
      <string>en-us</string>
      <key>theme</key>
      <string>system</string>
    </dict>
    <key>containerEngine</key>
    <dict>
      <key>name</key>
      <string>moby</string>
      <key>mobyStorageDriver</key>
      <string>auto</string>
    </dict>
    <key>virtualMachine</key>
    <dict>
      <key>memoryInGB</key>
      <integer>32</integer>
      <key>numberCPUs</key>
      <integer>8</integer>
      <key>type</key>
      <string>vz</string>
      <key>useRosetta</key>
      <false/>
      <key>mount</key>
      <dict>
        <key>type</key>
        <string>virtiofs</string>
      </dict>
    </dict>
    <key>kubernetes</key>
    <dict>
      <key>version</key>
      <string>1.36.4</string>
      <key>port</key>
      <integer>6443</integer>
      <key>enabled</key>
      <true/>
      <key>options</key>
      <dict>
        <key>traefik</key>
        <true/>
        <key>flannel</key>
        <true/>
      </dict>
      <key>ingress</key>
      <dict>
        <key>localhostOnly</key>
        <false/>
      </dict>
    </dict>
    <key>portForwarding</key>
    <dict>
      <key>includeKubernetesServices</key>
      <false/>
    </dict>
  </dict>
</plist>
