{{ includeTemplate "homebrew/common.rb" . }}
{{- if (get . "personal") }}

{{ includeTemplate "homebrew/personal.rb" . }}
{{- end }}
{{- if (get . "work") }}

{{ includeTemplate "homebrew/work.rb" . }}
{{- end }}
