[user]
    name = "Jérôme Gamez"
    email = {{ .email }}
    useconfigonly = true
    signingkey = "4E902530D3BC24D1"

[alias]
    me = log --pretty=format:\"%ad (%h) %s\" --date=short --all --no-merges --author='Jérôme Gamez'
    oneline = log --oneline --decorate --all --graph

[blame]
    markIgnoredLines = true
    markUnblamableLines = true

[branch]
    sort = -committerdate

[column]
    ui = auto

[commit]
    gpgsign = true

[core]
    excludesfile = ~/.config/git/ignore
    attributesfile = ~/.config/git/attributes
    pager = cat

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[help]
    autocorrect = true

[merge]
    conflictstyle = zdiff3
{{- if eq .chezmoi.os "darwin" }}
    tool = smerge
{{- end }}

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "smerge"]
    cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
    trustExitCode = true

[rerere]
    enabled = true
    autoupdate = true

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- end }}

[includeIf "gitdir:~/Code/elvah/"]
    path = ~/.config/git/elvah.inc

[init]
    defaultBranch = main

[fetch]
    all = true
    prune = true
    pruneTags = true

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = simple
    followTags = true
    useForceIfIncludes = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[pack]
    allowPackReuse = multi

[tag]
    forceSignAnnotated = true
    gpgsign = true
    sort = version:refname
