[user]
    name = {{ .identity.name | quote }}
    email = {{ .email | quote }}
    useConfigOnly = true
{{- if .personal }}
    signingKey = {{ .identity.personal.gpgSigningKey | quote }}
{{- else if .work }}
    signingKey = {{ joinPath .chezmoi.homeDir ".config/git/keys/work-signing.pub" | quote }}
{{- end }}

[commit]
    gpgSign = true

[gpg]
{{- if .personal }}
    format = openpgp
{{- else if .work }}
    format = ssh
{{- end }}

{{- if .work }}
[gpg "ssh"]
    allowedSignersFile = {{ joinPath .chezmoi.homeDir ".config/git/allowed_signers" | quote }}
{{- if eq .chezmoi.os "darwin" }}
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}
{{- end }}

[tag]
    forceSignAnnotated = true
    gpgSign = true
    sort = version:refname

[alias]
    me = log --pretty=format:\"%ad (%h) %s\" --date=short --all --no-merges --author={{ .identity.name | quote }}
    oneline = log --oneline --decorate --all --graph

[blame]
    markIgnoredLines = true
    markUnblamableLines = true

[branch]
    sort = -committerdate

[column]
    ui = auto

[core]
    excludesfile = ~/.config/git/ignore
    attributesfile = ~/.config/git/attributes
    pager = cat

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[help]
    autocorrect = true

[merge]
    conflictstyle = zdiff3
{{- if eq .chezmoi.os "darwin" }}
    tool = smerge
{{- end }}

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "smerge"]
    cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
    trustExitCode = true

[rerere]
    enabled = true
    autoupdate = true

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- end }}

[init]
    defaultBranch = main

[fetch]
    all = true
    prune = true
    pruneTags = true

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = simple
    followTags = true
    useForceIfIncludes = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[pack]
    allowPackReuse = multi

[includeIf "gitdir:~/Code/reference/"]
    path = ~/.config/git/no-identity
{{- if .personal }}

[includeIf "gitdir:~/Code/work/"]
    path = ~/.config/git/no-identity
{{- else if .work }}

[includeIf "gitdir:~/Code/personal/"]
    path = ~/.config/git/no-identity

[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = ~/.config/git/no-identity
{{- end }}
