[user]
    name = {{ .identity.name | quote }}
    email = {{ .workEmail | quote }}
    signingkey = {{ joinPath .chezmoi.homeDir ".config/git/keys/work.pub" | quote }}

[commit]
    gpgsign = true

[core]
    sshCommand = {{ printf "ssh -i %s -o IdentitiesOnly=yes" (joinPath .chezmoi.homeDir ".config/git/keys/work.pub") | quote }}

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = {{ joinPath .chezmoi.homeDir ".config/git/work_allowed_signers" | quote }}
{{- if eq .chezmoi.os "darwin" }}
    program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}

[tag]
    forceSignAnnotated = true
    gpgsign = true
