{{- if eq .chezmoi.os "darwin" -}}
DefaultBrowser = "ZEN"
CustomBrowserPath = {{ lookPath "zen" | output "/usr/bin/readlink" | trim | quote }}
{{- else if eq .chezmoi.os "linux" }}
DefaultBrowser = "FIREFOX"
{{- end }}

CredentialProcessAutoLogin = true
