{{- if and (eq .chezmoi.os "darwin") .personal -}}
DefaultBrowser = "FIREFOX"
CustomBrowserPath = "/Applications/Zen.app/Contents/MacOS/zen"
{{- else if and (eq .chezmoi.os "darwin") .work }}
DefaultBrowser = "CHROME"
CustomBrowserPath = "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
{{- else if eq .chezmoi.os "linux" }}
DefaultBrowser = "FIREFOX"
{{- end }}

CredentialProcessAutoLogin = true
